.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
.vscode/
*.iml

.venv/
venv/
__pycache__/
.pytest_cache/
.mypy_cache/
*.pyc

.env
server/.env
mobile/lib/firebase_options.dart
mobile/.dart_tool/
mobile/build/
mobile/.packages
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/pubspec.lock
